body {
  background-color: #000;
}
.content-wrapper {
  max-width: 425px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.main-wrapper {
  height: 100%;
  background: #f8f9fa;
}
.main-wrapper-content p {
  padding: 0px 20px;
  font-size: 19px;
}
.main-wrapper-content-letter {
  height: 30px;
  margin-bottom: 0;
}
.main-wrapper-content-letter p {
  height: 110px;
  font-size: 500%;
  float: left;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #d3d3d3;
}
.footer-button button {
  height: 50px;
  border: none;
  background: none;
  position: absolute;
  left: 31px;
  font-weight: 600;
}
.footer-center {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-center-span {
  display: block;
  background-color: #cecece;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  margin-right: 8px;
}
.footer-center-span.active {
  background-color: #808080;
}
.footer-right-icon i {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
